@model ColmanWebProject.Models.Customer

@{
    ViewData["Title"] = "EditRole";
}

<main class="form-signin">
    <div class="row justify-content-center">
        <form asp-action="EditRole" class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">EDIT DETAILS</h1>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="WishListId" />
                    <input type="hidden" asp-for="CartId" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label mb-1 text-left">EMAIL:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Email" class="form-control" readonly />
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label mb-1 text-left">NAME:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Name" class="form-control" readonly />
                        </div>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label mb-1 text-left">LAST NAME:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="LastName" class="form-control" readonly />
                        </div>
                        <span asp-validation-for="LastName" class="text-danger" readonly></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label mb-1 text-left">PHONE:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Phone" class="form-control" readonly />
                        </div>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Role" class="control-label"></label>
                        <select asp-for="Role" asp-items="@Html.GetEnumSelectList<UserType>()" class="form-control"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group row justify-content-center mb-3">
                        <div class="col-6 col-sm-7 col-md-12 col-lg-9 text-center">
                            <input type="submit" value="SAVE CHANGES" class="btn btn-primary" /> |
                            <a asp-action="Index">Back to List</a>
                        </div>
                        </div>

                    </div>
                </div>
        </form>
    </div>
</main>
       

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
