@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>*@

@*<p>Use this page to detail your site's privacy policy.</p>*@

@*<section class="pt-5 pb-5">*@
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center title">Shopping Cart</h3>
                <p class="text-center">
                    <i class="text-info font-weight-bold">3</i> items in your cart
                </p>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th class="productTitle">Product</th>
                            <th class="priceTitle">Price</th>
                            <th class="quantityTitle">Quantity</th>
                            <th class="removeTitle text-right">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                        <img src="https://5.imimg.com/data5/LM/VJ/MY-14918582/acoustic-guitar-250x250.jpg" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <h4>
                                            Yamaha Wooden Acoustic Guitar
                                        </h4>
                                        <p class="font-weight-light">Description here</p>
                                    </div>
                                </div>
                            </td>
                            <td>$299.99</td>
                            <td>
                                <input type="number" min="1" class="form-control form-control-lg text-center" value="1">
                            </td>
                            <td class="actions">
                                <div class="text-right">
                                    <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                        <i class='bx bxs-trash'></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                        <img src="https://3.imimg.com/data3/QD/SO/MY-13240698/musical-guitar-250x250.jpg" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <h4>YAMAHA F-310 ACOUSTIC GUITAR</h4>
                                        <p class="font-weight-light">Description here</p>
                                    </div>
                                </div>
                            </td>
                            <td>$149.99</td>
                            <td>
                                <input type="number" min="1"  class="form-control form-control-lg text-center" value="1">
                            </td>
                            <td class="actions">
                                <div class="text-right">
                                    <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                        <i class='bx bxs-trash'></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-md-3 text-left">
                                        <img src="https://static.sonovente.com/img/library/250/60/60759.jpg" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                    </div>
                                    <div class="col-md-9 text-left">
                                        <h4>Marshall - Origin50c </h4>
                                        <p class="font-weight-light">Description here</p>
                                    </div>
                                </div>
                            </td>
                            <td>$119.99</td>
                            <td>
                                <input type="number" min="1" class="form-control form-control-lg text-center" value="1">
                            </td>
                            <td class="actions">
                                <div class="text-right">
                                    <button class="btn btn-white border-secondary bg-white btn-md mb-2">
                                        <i class='bx bxs-trash'></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="float-right text-right">
                    <h4>Subtotal:</h4>
                    <h1>$569.97</h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="/" class="btn btn-primary mb-4 btn-lg pl-5 pr-5 checkout">Checkout</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="/">
                    <i class="fas fa-arrow-left mr-2"></i> Continue Shopping
                </a>
            </div>
        </div>
    </div>
@*</section>*@