@model ColmanWebProject.Models.Order

@{
    ViewData["Title"] = "Create";
    var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
    string cartId = identity.Claims.ElementAt(2).Value;
}

<hr />
<main class="form-signin">
    <div class="row justify-content-center">
        <form asp-action="Create" class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">Order</h1>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressCity" class="control-label">CITY:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressCity" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressStreet" class="control-label">STREET:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressStreet" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressStreet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressHomeNum" class="control-label">HOME NUMBER:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressHomeNum" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressHomeNum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label">DATE:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" readonly />
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="float-right text-center">
                        <h4>Subtotal: $@ViewBag.Price</h4>
                    </div>
                    <div class="form-group text-center mb-3">
                        <input type="submit" value="ORDER NOW!" class="btn btn-primary mb-4 btn-lg pl-5 pr-5 checkout" />
                    </div>
                </div>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }

            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a asp-controller="Carts" asp-action="Index" asp-route-CartId="@cartId">
                    <i class="fa fa-arrow-left mr-2"></i> Back to Cart
                </a>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
