@model ColmanWebProject.Models.Order

@{
    ViewData["Title"] = "Create";
}

<hr />
<main class="form-signin">
    <div class="row justify-content-center">
        <form asp-action="Create" class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">Order</h1>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">PRICE:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Price" class="form-control" />
                        </div>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressCity" class="control-label">CITY:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressCity" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressCity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressStreet" class="control-label">STREET:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressStreet" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressStreet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShippingAddressHomeNum" class="control-label">HOME NUMBER:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="ShippingAddressHomeNum" class="form-control" />
                        </div>
                        <span asp-validation-for="ShippingAddressHomeNum" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label">DATE:</label>
                        <div class="input-group has-validation mb-3">
                            <input asp-for="Date" class="form-control" />
                        </div>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                    {

                        string email = null;
                        var identity = (System.Security.Claims.ClaimsIdentity)Context.User.Identity;
                        if (identity.Claims.Count() > 0)
                        {
                          email = identity.Claims.FirstOrDefault(c => c.Type.Contains("email")).Value;
                          <div class="form-group">
                             <label class="control-label">EMAIL:</label>
                          <div class="input-group has-validation mb-3">
                             <input class="form-control" value="@email" readonly />
                          </div>
                          </div>  
                        }
                    }
                        @*<div class="form-group">
                            <label asp-for="CustomerId" class="control-label">EMAIL:</label>
                            <div class="input-group has-validation mb-3">
                                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                            </div>
                        </div>*@
                        <div class="form-group text-center mb-3">
                            <input type="submit" value="Create" class="btn btn-outline-success" />
                        </div>
                    </div>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }

        <div class="text-center mb-3">
            <a asp-controller="Carts" asp-action="Index">Back to Cart</a>
        </div>
        </form>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
