@model IEnumerable<ColmanWebProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<main class="form-signin">
    <div class="row justify-content-center">
        <div class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">Catagories</h1>
            <center>
                <form id="categoriesSearch">
                    <div class="mt-3 mb-3 form-group">
                        <label class="control-label">Type: </label>
                        <input id="searchByTypeName" type="text" min="0" name="type" />
                        <button type="submit" class="btn btn-success"><i class="bx bx-search"></i>search</button>
                    </div>
                </form>
                <button class="btn btn-primary col-sm-12 col-md-4 col-lg-3" asp-action="Create"
                        data-toggle="ajax-modal" data-target="#add-contact" id="addBtn">
                    Add new category
                </button>
            </center>
            <br />
            <div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                <div id="AddContent">
                </div>
            </div>
            <div id="partial">
                @Html.Partial("CategoriesList", Model)
            </div>
        </div>
    </div>
    <div id="container" class="shadow-lg"></div>
</main>