@model IEnumerable<ColmanWebProject.Models.Category>

@{
    ViewData["Title"] = "About";
}

<main>
    <div class="row justify-content-center">
        <div class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">ABOUT US</h1>
            <div class="about">
                Launched in 2018  Colman Music is a leading retailer of musical instruments and music equipment. You can buy music gear from orchestral instruments to rock 'n' roll, including guitars, drum kits, digital pianos, saxophones and cellos.
                From starter guitars to pro microphones and amps, the Colman Music online music shop has a huge range of music equipment available. Whether you're looking for a violin, keyboard, electronic drum kit or piano, we can help.
                We've got some of the biggest brands in stock, excellent service and a great price.
                And you are more than welcome to come to visit us at our stores – we are waiting for you!
            </div>
            </div>
        </div>
    </main>
