@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="card bg-dark text-white">
        <img src="https://img.d.co.il/Umbraco/2175/795x348.f68228e6-68c0-4642-87b3-6c0cf12cedb5.png" width="1120" height="315" />
    </div>

    <h1 class="logo">LOGO</h1>
    <p class="secondaryTitle">Welcome! please <a href="https://docs.microsoft.com/aspnet/core">sign up</a> and join our community</p>

    <div class="card-deck">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">
            <div class="card bg-dark text-white" style="max-width: 18rem;">
                <img class="card-img"
                     src="https://www.matnasetzion.com/productImages2/297/2020/08/20/image1597905615.jpg" height="272"
                     alt="Card image"
                     width="400">
                <div class="card-img-overlay">
                    <h5 class="card-title">Piano</h5>
                </div>
            </div>
        </a>

        <div class="card bg-dark text-white" style="max-width: 18rem;">
            <img class="card-img"
                 src="https://tonara.com/wp-content/uploads/2019/05/shutterstock_538839568.jpg" height="272"
                 alt="Card image"
                 width="600">
            <div class="card-img-overlay">
                <h5 class="card-title">Guitars</h5>
            </div>
        </div>
        <div class="card bg-dark text-white" style="max-width: 18rem;">
            <img class="card-img"
                 src="https://7boom.net/wp-content/uploads/2019/11/shutterstock_756402667.jpg" height="272"
                 alt="Card image"
                 width="900">
            <div class="card-img-overlay">
                <h5 class="card-title">wind instruments</h5>
            </div>
        </div>
        <div class="card bg-dark text-white" style="max-width: 18rem;">
            <img class="card-img"
                 src="https://tonara.com/wp-content/uploads/2019/05/shutterstock_538839568.jpg" height="272"
                 alt="Card image"
                 width="600">
            <div class="card-img-overlay">
                <h5 class="card-title">Guitars</h5>
            </div>
        </div>
        <div class="card bg-dark text-white" style="max-width: 18rem;">
            <img class="card-img"
                 src="https://7boom.net/wp-content/uploads/2019/11/shutterstock_756402667.jpg" height="272"
                 alt="Card image"
                 width="900">
            <div class="card-img-overlay">
                <h5 class="card-title">wind instruments</h5>
            </div>
        </div>
        <div class="card bg-dark text-white" style="max-width: 18rem;">
            <img class="card-img"
                 src="https://7boom.net/wp-content/uploads/2019/11/shutterstock_756402667.jpg" height="272"
                 alt="Card image"
                 width="900">
            <div class="card-img-overlay">
                <h5 class="card-title">wind instruments</h5>
            </div>
        </div>
    </div>
</div>
