@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="card bg-dark text-white">
        <img src="https://img.d.co.il/Umbraco/2175/795x348.f68228e6-68c0-4642-87b3-6c0cf12cedb5.png" width="1120" height="315" />
    </div>

    <h1 class="logo">LOGO</h1>
    <p class="secondaryTitle">Welcome! please <a href="https://docs.microsoft.com/aspnet/core">sign up</a> and join our community</p>
</div>
