body {
    background: #f1f1f1;
}

.card.product .btn {
    bottom: 1.5rem;
    max-width: 80%;
}

.price {
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    .card-container {
        margin-bottom: 2rem;
    }
}

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 7px;
    border-radius: 17.5px;
    font-size: 10px;
    text-align: center;
}

.fa-xl {
    font-size: 1.8em;
    text-align: center;
    padding-top: 2px;
    padding-right: 8px;
}

.to-the-left {
    float: left;
}

.to-the-right {
    float: right;
    margin-right:4px;
}

aside {
    margin-top: 4px;
    width: 25%;
    float: left;
    border-radius: 10%;
}

aside form {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1200px) {
    #searchHeader {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    #searchHeader {
        font-size: 15px;
    }
}