@model IEnumerable<ColmanWebProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/products.css" />

<div id="searchSide">
    @Html.Partial("Search")
</div>

<div id="results">
    @Html.Partial("ProductsList", Model)
</div>