@model IEnumerable<ColmanWebProject.Models.Product>

@{
    ViewData["Title"] = "ManageProducts";
}
<main class="form-signin">
    <div class="row justify-content-center">
        <div class="card col-9 pb-5 mt-4 p-3 bg-white shadow-lg">
            <h1 class="h3 mb-3 fw-normal text-center">Catagories</h1>
            <button class="btn btn-primary col-sm-12 col-md-4 col-lg-3" asp-action="Create"
                    data-toggle="ajax-modal" data-target="#add-contact" id="addProductBtn">
                Add new product
            </button>
            <br />
            <div class="modal fade" id="add-product-contact" tabindex="-1" role="dialog" aria-labelledby="addLabel" aria-hidden="true">
                <div id="AddProductContent">
                </div>
            </div>
            <div id="partialManageProduct">
                @Html.Partial("ManageProductsList", Model)
            </div>
        </div>
    </div>
</main>