@model AppTwitter.Models.Tweets
@{
    Layout = null;
}

@using (Html.BeginForm("ShareToTwitter", "Products", FormMethod.Post))
{
    <div class="form-control">
        <label class="label-primary">     Enter Your Tweet  </label>@Html.TextBoxFor(m => m.tweets)<br />
        <input type="submit" value="Submit" />
    </div>
}